<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.imau.redpioneer.dao.PrizeMapper">
  <resultMap id="BaseResultMap" type="cn.edu.imau.redpioneer.entity.Prize">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prize_info" jdbcType="VARCHAR" property="prizeInfo" />
    <result column="prize_time" jdbcType="DATE" property="prizeTime" />
    <result column="prove" jdbcType="VARCHAR" property="prove" />
    <result column="activist_id" jdbcType="INTEGER" property="activistId" />
    <result column="state_code" jdbcType="INTEGER" property="stateCode" />
  </resultMap>

  <resultMap id="ListMap" type="cn.edu.imau.redpioneer.dto.ActivistPrizeDto">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="prize_info" jdbcType="VARCHAR" property="prizeInfo" />
    <result column="prize_time" jdbcType="DATE" property="prizeTime" />
    <result column="prove" jdbcType="INTEGER" property="prove" />
    <result column="state_code" jdbcType="INTEGER" property="stateCode" />
  </resultMap>

<!--  添加奖惩信息-->
  <insert id="addPrize" parameterType="cn.edu.imau.redpioneer.entity.Prize">
    insert into prize(
    <if test="activistId != null">activist_id,</if>
    <if test="prizeDate != null">prize_date,</if>
    <if test="prizeInfo != null">prize_info,</if>
    <if test="prizeLevel != null">prize_level</if>)
    values(
    <if test="activistId != null">#{activistId},</if>
    <if test="prizeDate != null">#{prizeDate},</if>
    <if test="prizeInfo != null">#{prizeInfo},</if>
    <if test="prizeLevel != null">#{prizeLevel}</if>)
  </insert>

<!--通过主键查询用户奖惩信息-->
  <select id="selectActivistPrize" parameterType="integer" resultMap="ListMap">
    SELECT p.id,a.name,p.prize_info,p.prize_time,p.prove,p.state_code
      FROM activist AS a
        INNER JOIN prize AS p
         ON a.id=p.activist_id
    WHERE a.id=#{id}
  </select>


  <!--通过状态查询用户奖惩信息-->
  <select id="selectPrizeByState" parameterType="integer" resultMap="ListMap">
    SELECT a.name,p.prize_info,p.prize_time,p.prove,p.state_code
    FROM activist AS a
           INNER JOIN prize AS p
           ON a.id=p.activist_id
    WHERE p.state_code=#{state} AND a.party_group=#{id}
  </select>


</mapper>