<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.imau.redpioneer.dao.ActivistMapper">

  <resultMap id="BaseResultMap" type="cn.edu.imau.redpioneer.entity.Activist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="Email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="party_group" jdbcType="INTEGER" property="partyGroup" />
    <result column="train" jdbcType="VARCHAR" property="train" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
    <result column="state_code" jdbcType="INTEGER" property="StateCode" />
  </resultMap>


  <!--批量插入用户-->
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO activist
    (account,name)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.account},#{item.name})
    </foreach>
  </insert>

<!--通过id获取用户角色-->
  <select id="selectRoleById" parameterType="integer">
    select roles from activist where id=#{id}
  </select>

<!-- 通过姓名更新用户状态-->
  <update id="updateStateCode">
    update activist as a
    set state_code=#{stateCode}
    where a.id=#{id}
  </update>

<!--  通过姓名查询邮箱-->
  <select id="selectEmailByName" parameterType="integer" resultType="string">
      SELECT email FROM activist as a WHERE a.id=#{id}
  </select>

  <!--更新用户照片-->
<!--  <update id="updateAvatarByPrimaryKey">-->
<!--    update activist set photo=#{path} where id=#{id}-->
<!--  </update>-->

<!--通过id更新用户信息-->
<!--  <update id="updateInfoByPrimaryKey" parameterType="cn.edu.imau.redpioneer.entity.Activist" >-->
<!--    update activist-->
<!--    <set>-->
<!--      <if test="account != null">account = #{account},</if>-->
<!--      <if test="password != null">password = #{password},</if>-->
<!--      <if test="name != null">name = #{name},</if>-->
<!--      <if test="sex != null">sex = #{sex},</if>-->
<!--      <if test="birthday != null">birthday = #{birthday},</if>-->
<!--      <if test="nation != null">nation = #{nation},</if>-->
<!--      <if test="nativePlace != null">native_place = #{nativePlace},</if>-->
<!--      <if test="idCard != null">id_card = #{idCard},</if>-->
<!--      <if test="address != null">address = #{address},</if>-->
<!--      <if test="Email != null">email = #{Email},</if>-->
<!--      <if test="tel != null">tel = #{tel},</if>-->
<!--      <if test="photo != null">photo = #{photo},</if>-->
<!--      <if test="classes != null">classes = #{classes},</if>-->
<!--      <if test="roles != null">roles = #{roles},</if>-->
<!--      <if test="stateCode != null">state_code = #{stateCode}</if>-->
<!--    </set>-->
<!--    where id=#{id}-->
<!--  </update>-->


</mapper>

