<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.imau.redpioneer.dao.PartyBranchMapper">

  <resultMap id="BaseResultMap" type="cn.edu.imau.redpioneer.entity.PartyBranch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="activist_id" jdbcType="INTEGER" property="activistId" />
  </resultMap>

  <resultMap id="PartyBranchInfoMap" type="cn.edu.imau.redpioneer.dto.PartyBranchDto">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>

  <select id="selectAllPartyBranch" resultMap="PartyBranchInfoMap">
    SELECT p.id,p.branch_name,a.name,a.tel
    FROM party_branch AS p
           INNER JOIN activist AS a
           ON p.activist_id=a.id
  </select>
  
  <select id="selectMyBranchId" resultType="integer" parameterType="integer">
    SELECT p.id FROM party_branch AS p
    INNER JOIN activist AS a
    ON a.id=p.activist_id
    WHERE a.id=#{id}
  </select>


  <select id="selectBranchGroupActivistId" resultType="integer" parameterType="integer">
    SELECT activist_id FROM party_group WHERE branch=#{id}
  </select>

</mapper>