spring:
  datasource:
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3306/red-pioneer-ddl?characterEncoding=utf-8
      username: root
      password: root
  mybatis:
    mapper-locations: classpath:mappers/*.xml
    type-aliases-package: cn.deu.imau.redpioneer.entity
    configuration:
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

  servlet:
    multipart:
      max-request-size: 10MB # 上传文件的最大值
      max-file-size: 5MB # 单个文件上传的最大值

upload:
  path: D:\\upload\headImgs
logging:
  level:
    cn.edu.imau.redpioneer.dao: debug

